chirp/share/contrib/chirp_banks.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="bankType">
    <attribute name="id">
      <data type="nonNegativeInteger"/>
    </attribute>
    <attribute name="label">
      <data type="string"/>
    </attribute>
  </define>
</grammar>
